## **#02: NumPy and Pandas**
- Instructor: [Jaeung Sim](https://jaeungs.github.io/) (University of Connecticut)
- Course: OPIM 5512: Data Science Using Python
- Last updated: January 23, 2025

**Objectives**
1. Understand data structure in Python.
2. Process a dataset using NumPy and Pandas.

**Contents**
* Part 1: `NumPy`
* Part 2: `Pandas`
* Part 3: Data Processing with External Data

**References**
* [Welcome to Colab!](https://colab.research.google.com/)
* [NumPy User Guide](https://numpy.org/doc/stable/user/index.html)
* [Pandas Tutorial - W3Schools](https://www.w3schools.com/python/pandas/)
* [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/)
* [Introduction to Data Science with Python](https://nustat.github.io/DataScience_Intro_python/)

### **Part 1: `NumPy`**

`NumPy` (**Num**erical **Py**thon) provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these data structures, and it is highly efficient for numerical calculations.

In [ ]:
# Install NumPy library
!pip install numpy # Already installed

In [ ]:
# Import NumPy
import numpy as np # Shorten the imported name to np for better readability of code using NumPy

#### **1.1. Array**

An **array** is a central data structure of the `NumPy` library. It is a grid of values and it contains information about the raw data, how to locate an element, and how to interpret an element. It has a grid of elements that can be indexed in various ways.

**Dimension of arrays**
* One-dimensional: like **a list**
* Two-dimensional: like **a table**
* Three-dimensional: like **a set of tables**
* An arbitrary number of dimensions? Generalized as `ndarray`!

<img src="https://nustat.github.io/DataScience_Intro_python/Datasets/numpy_image.png" width="1000" height="350">

Most `NumPy` arrays have some restrictions. For instance:
* All elements of the array must be of the **same type** of data.
* Once created, the **total size** of the array **can't change**.
* The shape must be **rectangular**, **not jagged**
  * e.g., each row of a two-dimensional array must have the same number of columns.

**1.1.1. Creating arrays from scratch**

In [ ]:
# Create and print example arrays
a = np.array([1, 2, 3, 4, 5, 6])
A = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(a[0])
print(a[1])
print(A[0])
print(A[1])

In [ ]:
# Create various arrays
np.zeros(3) # An array filled with 0's

In [ ]:
np.ones(3) # An array filled with 1's

In [ ]:
np.arange(5) # An array with a range of elements

In [ ]:
print(np.arange(10, 50, 10)) # An array that contains a range of evenly spaced intervals
print(np.arange(10, 51, 10)) # Specify the first number, last number, and the step size

In [ ]:
print(np.linspace(0, 10, num=4)) # An array with values that are spaced linearly in a specified interval
print(np.linspace(0, 10, num=5))
print(np.linspace(0, 10, num=6))

**1.1.2. Basic atributes of `numpy` array**

In [ ]:
# Let's play with array `a` and `A`
a

In [ ]:
A

`ndim`: shows the number of dimensions (or axes) of the array

In [ ]:
print("a.ndim is", a.ndim)
print("A.ndim is", A.ndim)

`shape`: the size of the array in each dimension. $(m, n)$ for $m$ rows and $n$ columns. The length of the shape tuple is the rank or the number of dimensions `ndim`.

In [ ]:
print("a.shape is", a.shape)
print("A.shape is", A.shape)

`size`: the total number of elements of the array, equivalent to the product of the elements of shape

In [ ]:
print("a.size is", a.size)
print("A.size is", A.size)

`dtype`: the type of elements in the array

* Data type examples are available here: <https://www.geeksforgeeks.org/python-data-types/>

In [ ]:
print("a.dtype is", a.dtype)
print("A.dtype is", A.dtype)

`T`: used to transpose the `NumPy` array

In [ ]:
a.T

In [ ]:
A.T

**1.1.3. Creating arrays from existing data**

Picking a section of an existing array

In [ ]:
# Begin with an existing array
a = np.array([1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
# Create a new array from a section of your array
arr1 = a[3:8]
arr1

Stacking arrays using `np.vstack()` and `np.hstack()`

In [ ]:
# Begin with two existing arrays
a1 = np.array([[1, 1], [2, 2]])
a2 = np.array([[3, 3], [4, 4]])
print(a1)
print(a2)

In [ ]:
# Stack these arrays
print(np.vstack((a1, a2))) # Vertically
print(np.hstack((a1, a2))) # Horizontally

Reshaping arrays with `reshape` and `hsplit`

In [ ]:
# Begin with a long array
x = np.arange(1, 25)
x

In [ ]:
# Reshape it as a (2x12) array
x = np.reshape(x, (2,12))
x

In [ ]:
# Split the reshaped array
print(np.hsplit(x, 3)) # Into three equally shaped arrays
np.hsplit(x, (3, 4)) # After the third and fourth column

**1.1.4. Array operations**

You can add, subtract, multiplicate, and divide arrays. Also, you can use various statistical functions, such as maximum, minimum, sum, mean, product, and standard deviation.

Array example #1

In [ ]:
# Define two arrays
data = np.array([1, 2])
ones = np.ones(2, dtype=int) # An array with 1's
print(data)
print(ones)

In [ ]:
# Add, subtract, multiplicate, and divide arrays
print(data + ones)
print(data - ones)
print(data * data)
print(data / data)

In [ ]:
# Find the maximum, minimum, and sum of the elements in 'data' array
print(data.max())
print(data.min())
print(data.sum())

In [ ]:
# Find the mean, product, and standard deviation of the elements in 'data' array
print(data.mean())
print(data.prod())
print(data.std())

Array example #2

In [ ]:
# Define another array
a = np.array([[0.45053314, 0.17296777, 0.34376245, 0.5510652],
              [0.54627315, 0.05093587, 0.40067661, 0.55645993],
              [0.12697628, 0.82485143, 0.26590556, 0.56917101]])

In [ ]:
# Find the maximum, minimum, and sum of the elements in 'a' array
print(a.max())
print(a.min())
print(a.sum())

In [ ]:
print(a.max(axis=0)) # axis=0 indicates the column level
print(a.min(axis=0))
print(a.sum(axis=0))

In [ ]:
print(a.max(axis=1)) # axis=1 indicates the row level
print(a.min(axis=1))
print(a.sum(axis=1))

**Exercise #1.** Create an array (`A`) having each of the following arrays as its rows. The first array (`a1`) has integers from 1 to 5 as elements, and the second array (`a2`) has five elements filled with zeros.

In [ ]:
a1 = np.arange( , , ) # Create an array [1, 2, 3, 4, 5]
a2 = np.zeros() # Create an array [0, 0, 0, 0, 0]
A = np.array([, ]) # Create a 2D array with a1 and a2 as rows

In [ ]:
# Run the code to show the results
print(a1)
print(a2)
print(A)

### **Part 2: `Pandas`**

`Pandas` provides two primary data structures: `Series` (one-dimensional) and `DataFrame` (two-dimensional, like a table). With Pandas, you can easily clean, filter, transform, and visualize data, making it an essential tool for data wrangling in data science and analytics. It is built on top of `NumPy` and integrates seamlessly with other Python libraries.

In [ ]:
# Run this code to import the NumPy and Pandas modules
import numpy as np
import pandas as pd

#### **2.1. Series**

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

> **Series (`Pandas`) vs. Array (`NumPy`)**
>
> While Series (`pandas`) and array (`numpy`) may seem similar as one-dimensional arrays, their differences in terms of data handling capabilities, efficiency, and use cases make them suitable for different scenarios in data analysis and scientific computing.
>
> **1. Use Case:** If you need labeled data, are working with heterogeneous data, or need to align data by labels, `Series` is more suitable. It's also preferable when working with tabular data and when integrating with `pandas` DataFrames.
>
> **2. Performance:** For numerical operations, especially on large datasets where performance is a concern and where data homogeneity is maintained, `array` (`numpy`) is generally faster and more memory-efficient.
>
> **3. Functionality:** `Series` provides more functionalities (like handling missing data seamlessly) that are very useful in data analysis and manipulation, especially in data science workflows.
>

**2.1.1. Creating a Series**

In [ ]:
# Create a series from a list
s1 = [1, 7, 2]
myvar = pd.Series(s1)
print(myvar)

In [ ]:
print(myvar[0]) # Call the first item

In [ ]:
# Create a series with labels
s1 = [1, 7, 2]
myvar = pd.Series(s1, index=["x", "y", "z"])
print(myvar)

In [ ]:
print(myvar[0]) # Call an item with a number
print(myvar["x"]) # Call an item with an index

In [ ]:
# Create a series from dictionary 'd1'
d1 = {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(d1)

In [ ]:
pd.Series(d1, index=["d", "c", "b", "a"]) # Change the index order

In [ ]:
# Create a series from a dictionary 'calories'
calories = {"day1": 1420, "day2": 1380, "day3": 1390}
myvar = pd.Series(calories, index = ["day1", "day2"]) # Insufficient index to store all items
print(myvar) # Only first two days will appear

**2.1.2. Exploring Series and Operations**

In [ ]:
# Define a Series
s2 = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s2)

In [ ]:
# Series is ndarray-like
print(s2[0]) # 1st item
print("----------")
print(s2[:3]) # Before 4th item
print("----------")
print(s2[s2 > s2.median()]) # Items above median
print("----------")
print(s2[[1, 2, 3]]) # 2nd - 4th items

In [ ]:
# Series is dict-like
print(s2["a"]) # Item with index "a"
print(s2["e"])
print("e" in s2) # If "e" is in series "s2"
print("f" in s2)
print(s2.get("e")) # Item with index "e"
print(s2.get("f")) # Return 'None'

In [ ]:
# Vectorized operations
print(s2 + s2)
print("----------")
print(s2 - s2)
print("----------")
print(s2 * s2)
print("----------")
print(s2 / s2)
print("----------")
print(np.exp(s2)) # Take exponential to each item
print("----------")
print(s2[1:] + s2[:-1]) # Integrate two sub-series

**Exercise 2. Exploring the sum of three uniform distributions**

Suppose you have three variables $x_1$, $x_2$, and $x_3$, which are independently drawn from the identical distribution $U[0,1]$. How would the distribution of $x_1 + x_2 + x_3$ look like?

To explore this with simulation, revise the following incomplete code to satisfy the followings:

1. Define three series (`s3`, `s4`, `s5`), each of which has 100 random numbers drawn from a uniform distribution between 0 and 1. All three series are independent of each other.

   **Hint:** `np.random.uniform(a,b,n)` draws `n` random numbers from a uniform distribution with a range [`a`, `b`).

2. Define series `s345` that consists of the sum of `s3`, `s4`, and `s5`.

In [ ]:
# Complete and run the code following the instruction
s3 = pd.Series(np.random.uniform(0, 1, 1000)) # (1) Define a series having `1000` random numbers from a `uniform` distribution between `0` and `1`
s4 = pd.Series(np.random.uniform(0, 1, 1000)) # (1) Define a series having `1000` random numbers from a `uniform` distribution between `0` and `1`
s5 = pd.Series(np.random.uniform(0, 1, 1000)) # (1) Define a series having `1000` random numbers from a `uniform` distribution between `0` and `1`

In [ ]:
# Run the code to load Matplotlib
import matplotlib.pyplot as plt

In [ ]:
# Run the code to draw s3's histogram
plt.hist(s3)
plt.show()

In [ ]:
# Run the code to draw s4's histogram
plt.hist(s4)
plt.show()

In [ ]:
# Run the code to draw s5's histogram
plt.hist(s5)
plt.show()

In [ ]:
# Complete and run the code following the instruction
s345 = s3 + s4 + s5 # (2) Define a series with the sum of s3, s4, and s5

In [ ]:
# Run the code to draw s34's histogram
plt.hist(s345)
plt.show()

**Takeaway:** As you add more variables following a common uniform distribution, their sum's distribution becomes closer to a normal distribution (for details, refer to [**the Central Limit Theorem**](https://en.wikipedia.org/wiki/Central_limit_theorem)).

#### **2.2. DataFrame**

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used `pandas` object.

**2.2.1. Creating and Exploring a DataFrame**

In [ ]:
# Create data with two arrays
d1 = {
  "calories": [420, 380, 390, 522],
  "duration": [50, 40, 45, 36]
}

# Load data into a DataFrame object
df1 = pd.DataFrame(d1)

print(df1)

In [ ]:
# Explore rows
print(df1.loc[0]) # 1st row
print('------------')
print(df1.loc[[0, 2]]) # 1st and 3rd rows

In [ ]:
# Explore rows with named indexes
df1 = pd.DataFrame(d1, index = ["day1", "day2", "day3", "day4"])

df1

In [ ]:
print(df1.loc["day1"]) # 1st row
print('------------')
print(df1.loc[0]) # Error message

In [ ]:
# Explore columns
print(df1["calories"]) # 'calories' column
print('------------')
print(df1["duration"]) # 'duration' column
print('------------')
print(df1[["calories", "duration"]]) # 'calories' and 'duration' column

In [ ]:
# Add columns
df1["joules"] = df1["calories"] * 4.184
df1["hours"] = df1["duration"] / 60
df1["minutes"] = "minutes" # See what happens
df1["seconds"] = df1["duration"][:2] * 60 # Restrict observations to 2nd row

print(df1)
print('------------')

df1.insert(1, "order", np.arange(1, 5)) # DataFrame.insert(loc, column, value, allow_duplicates=_NoDefault.no_default)
print(df1)

In [ ]:
# Delete columns
del df1["minutes"]
df1.pop("seconds")

df1

In [ ]:
# Transposing
print(df1.transpose())
print('------------')
print(df1[:2].transpose()) # Restrict observations to 2nd row and then transpose

**2.2.2. Merging and Joining**

`pandas` provides various facilities for easily combining together `Series` or `DataFrame` with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations. Also, it has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL.

This library offers a single function, `merge()`, as the entry point for all standard database join operations between `DataFrame` or named `Series` objects:

```python
pd.merge(
    left,
    right,
    how="inner",
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)
```

* `left`: A DataFrame or named Series object.
* `right`: Another DataFrame or named Series object.
* `on`: Column or index level names to join on. Must be found in both the left and right DataFrame and/or Series objects. If not passed and `left_index` and `right_index` are `False`, the intersection of the columns in the DataFrames and/or Series will be inferred to be the join keys.
* `left_on`: Columns or index levels from the left DataFrame or Series to use as keys. Can either be column names, index level names, or arrays with length equal to the length of the DataFrame or Series.
* `right_on`: Columns or index levels from the right DataFrame or Series to use as keys. Can either be column names, index level names, or arrays with length equal to the length of the DataFrame or Series.
* `left_index`: If `True`, use the index (row labels) from the left DataFrame or Series as its join key(s). In the case of a DataFrame or Series with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame or Series.
* `right_index`: Same usage as `left_index` for the right DataFrame or Series
* `how`: One of `'left'`, `'right'`, `'outer'`, `'inner'`, `'cross'`. Defaults to inner.
* `sort`: Sort the result DataFrame by the join keys in lexicographical order. Defaults to `True`, setting to `False` will improve performance substantially in many cases.
* `suffixes`: A tuple of string suffixes to apply to overlapping columns. Defaults to `('_x', '_y')`.
* `copy`: Always copy data (default `True`) from the passed DataFrame or named Series objects, even when reindexing is not necessary. Cannot be avoided in many cases but may improve performance / memory usage. The cases where copying can be avoided are somewhat pathological but this option is provided nonetheless.
* `indicator`: Add a column to the output DataFrame called `_merge` with information on the source of each row. `_merge` is Categorical-type and takes on a value of `left_only` for observations whose merge key only appears in `'left'` DataFrame or Series, `right_only` for observations whose merge key only appears in `'right'` DataFrame or Series, and `both` if the observation’s merge key is found in both.
* `validate`: string, default `None`. If specified, checks if merge is of specified type.

For your information, please refer to the following references:
* [**Pandas Merge, Join, Concatenate, and Compare**](https://pandas.pydata.org/docs/user_guide/merging.html)
* [**Pandas Codebook**](https://pandas.pydata.org/docs/user_guide/cookbook.html)
* [**Pandas Comparison with SQL**](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html)

![image](https://media.geeksforgeeks.org/wp-content/uploads/joinimages.png)

In [ ]:
# Left join with a single key
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

result = pd.merge(left, right, how="left", on="key")
result

In [ ]:
# Left join with two keys
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K1"],
        "key2": ["L0", "L1", "L0", "L1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["L0", "L0", "L0", "L0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

result = pd.merge(left, right, how="left", on=["key1", "key2"])
result

In [ ]:
# Right join with two keys (using 'left' and 'right' defined above)
result = pd.merge(left, right, how="right", on=["key1", "key2"]) # Set 'right' join
result

In [ ]:
# Outer join with two keys (using 'left' and 'right' defined above)
result = pd.merge(left, right, how="outer", on=["key1", "key2"]) # Set 'outer' join
result

In [ ]:
# Inner join with two keys (using 'left' and 'right' defined above)
result = pd.merge(left, right, how="inner", on=["key1", "key2"]) # Set 'inner' join
result

In [ ]:
# Outer join with two keys + Indicator (using 'left' and 'right' defined above)
result = pd.merge(left, right, how="outer", on=["key1", "key2"], indicator="matched") # Set 'outer' join + Indicator
result

`DataFrame.join()` is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

```python
DataFrame.join(
  other,
  on=None,
  how='left',
  lsuffix='',
  rsuffix='',
  sort=False,
  validate=None
  )
```

Please run the following code to see how simple it is to join DataFrames with an index.

In [ ]:
# Define two dataframes sharing an index
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)


right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)

In [ ]:
# The two codes yield the same outcome
print(left.join(right))
print('------------')
print(pd.merge(left, right, how="left", left_index=True, right_index=True))

In [ ]:
# The two codes yield the same outcome
print(left.join(right, how="outer"))
print('------------')
print(pd.merge(left, right, how="outer", left_index=True, right_index=True))

**GroupBy**

A `groupby()` operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

```python
DataFrame.groupby(
  by=None,
  axis=0,
  level=None,
  as_index=True,
  sort=True,
  group_keys=_NoDefault.no_default,
  squeeze=_NoDefault.no_default,
  observed=False,
  dropna=True
  )
```

Please refer to [**pandas.DataFrame.groupby**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) for details of syntax.

In [ ]:
# Run the code to create a dataframe (24 rows x 6 columns)
import datetime

df3 = pd.DataFrame(
    {
        "Z": [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8],
        "A": ["one", "one", "two", "three"] * 6,
        "B": ["a", "b", "c"] * 8,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 4,
        "D": np.random.randn(24),
        "E": np.random.randn(24),
        "F": [datetime.datetime(2024, i, 1) for i in range(1, 13)]
        + [datetime.datetime(2024, i, 15) for i in range(1, 13)],
    }
)
print(df3)

In [ ]:
# Briefly explore 'df3'
df3.head(5)

In [ ]:
# Apply 'groupby' (worked in 2024 but not yielding errors now)
print(df3.groupby(["A"]).mean()) # Mean by A
print('------------')
print(df3.groupby(["A", "B"]).mean()) # Mean by (A x B) combination
print('------------')
print(df3.groupby(["A", "B"]).sum()) # Sum by (A x B) combination

In [ ]:
# Apply 'groupby' (revised in Jan 24, 2025)
print(df3.groupby(["A"]).mean(["D", "E", "F"])) # Mean by A
print('------------')
print(df3.groupby(["A", "B"]).mean(["D", "E", "F"])) # Mean by (A x B) combination
print('------------')
print(df3.groupby(["A", "B"]).sum(["D", "E", "F"])) # Sum by (A x B) combination

### **Part 3. Handling Incomplete Data**

Let's try handling incomplete data! Datasets often have various problems, such as missing data, inconsistent format, and incorrect values. The following practices will help you grasp potential problems that you might encounter in the future.

**Exercise 3. Variable transformation and missing data**

**Skewness** is a measure of the asymmetry of the probability distribution of a real-valued random variable about its mean. The skewness value can be positive, zero, negative, or undefined. For a unimodal distribution, negative skew commonly indicates that the tail is on the left side of the distribution, and positive skew indicates that the tail is on the right.

![Image](https://upload.wikimedia.org/wikipedia/commons/c/cc/Relationship_between_mean_and_median_under_different_skewness.png)

When a distribution is highly skewed, transforming a variable often helps in estimating a statistical model. Among various transformations, you will try three functions are widely used in social science.

Please revise the incomplete code to create the following variables:

1. $x1 = log(x)$
1. $x2 = log(x+1)$
1. $x3 = arcsinh(x)$

where the inverse hyperbolic sine function is defined as $arcsinh(x) \equiv ln(x + \sqrt{x^2+1})$.

In [ ]:
# Run this code to generate a dataframe
df = pd.DataFrame(
    {
        "x": [-1.000231, -0.449368, -0.001214, 0, 0.004332, 0.019371, 0.021872, 0.248100, 0.649678, 1.248371],
    }
)
df

In [ ]:
# (1) Create `x1` by transforming `x` to `log(x)`
df['x1'] = np.log(df['x'])

In [ ]:
# (2) Create `x2` by transforming `x` to `log(x+1)`
df['x2'] = np.log(df['x'] + 1)

In [ ]:
# (3) Create `x3` by transforming `x` to `asinh(x)`
df['x3'] = np.log(df['x'] + (df['x'] ** 2 + 1) ** 0.5) # Try to model the `asinh(x)` function instead of directly using `numpy.arcsinh()`

In [ ]:
# Run the code to view the revised columns
df

**Takeaway:** The log transformation may lead to missing values due to its functional restriction. Using alternative functions can address this issue in a different way. For more information about its background, application, and interpretation, please refer to the following paper:
* Jaeung Sim, Jea Gon Park, Daegon Cho, Michael D. Smith, and Jaemin Jung (2022) "[Bestseller lists and product discovery in the subscription-based market: Evidence from music streaming](https://doi.org/10.1016/j.jebo.2021.12.030)," *Journal of Economic Behavior & Organization* 194, pp. 550-567.

### **Part 4: Data Processing with External Data**

**Setup**

In [ ]:
# Set your Google Drive directory
import os
os.getcwd()

from google.colab import drive
drive.mount('/content/drive')

os.chdir('/content/drive/My Drive/Colab Notebooks/OPIM 5512 (Spring 2025)') # You may need to change this directory

In [ ]:
# Run this code to import the NumPy and Pandas modules
import numpy as np
import pandas as pd

**Exploring the Data**

In [ ]:
# Read external data
df = pd.read_csv('dataset_notebook_02.csv')
df # Print the whole DataFrame

In [ ]:
# Head
df.head()

In [ ]:
df.head(10)

In [ ]:
# Tail
df.tail()

In [ ]:
# Information about the data
df.info()

**Exercise 4. Cleaning an external dataset**

Construct a dataframe from an external csv file (`dataset_notebook_02.csv`). This data has several flaws that you need to correct. Let's revise the following incomplete code together to satisfy the followings:

1. Drop rows with empty cells.

   Tip: `pandas` has a `DataFrame.dropna()` method

1. Correct the format of `Date` as `datetime`.

   Tip: `pandas` has a `pd.to_datetime()` method

1. Replace duration value `450` in row 7 with `45`.

1. Remove duplicates.

In [ ]:
# Read external data
df = pd.read_csv('dataset_notebook_02.csv')
df # Print the whole DataFrame

The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28), wrong format ("Date" in row 26), wrong data ("Duration" in row 7), and duplicates (row 11 and 12).

In [ ]:
# (1) Drop rows with empty cells
df.dropna(inplace = True)
df

In [ ]:
# (2) Correct the format of 'Date' as 'datetime'
df['Date'] = pd.to_datetime(df['Date']) # This yields errors (a year ago, it worked...)

In [ ]:
df['Date_backup'] = df['Date'] # We need a backup for this column

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce') # This will generate NaT values
df

In [ ]:
df.loc[df_backup['Date'].isna(), 'Date'] = df['Date_backup'] # Retrieve the original value for NaT values
df

In [ ]:
# (3) Correct wrong data
df.loc[7, 'Duration'] = 45 # Replace duration value '450' in row 7 with '45' (Tip: DataFrame.loc[row index, 'column name'])
df

In [ ]:
# (4) Remove duplicates
df.drop_duplicates(inplace = True) # Tip: DataFrame.drop_duplicates(inplace = True)
df